# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java
6. JavaScript
7. Visual Basic
8. C++
9. JUlia
10. Php

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras
6. PyTorch
7. Big DL
8. Tensorflow
9. Vegas
10. Apache Spark

|Data Science Tools|
|-----|
|Jupyter Notebooks|
|Anaconda|
|R Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expression in python.

In [1]:
#This is simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 mintes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives:__
* Create markdown cells.
* Add comments to code cells.
* Add ordered and unordered lists to markdown cells.
* Lists popular languages for Data Science.
* Lists popular libraries for Data Science.

## Author(s)
Lakshmi Holla

Niveditha Pandith